.page-main {
  width: 100%;
}

.page-main__wrapper {
  width: 100%;

  &--promo {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-left: 78px;
    max-width: $max-width;
  }

  &--benefits-and-about {
    background-image: url("../img/bg-triangles.svg");
    background-repeat: no-repeat;
    background-position: top 46px center;
    background-size: cover;
  }
}

.page-main__promo {
  padding: 260px 0 0;
}

.page-main__benefits {
  margin: 0 auto;
  padding: 113px 200px 70px;
  max-width: $max-width;
}

.page-main__about-company {
  margin: 0 auto;
  padding: 0 200px 100px 380px;
  max-width: $max-width;
}

@media (max-width: $tablet-width) {
  .page-main__wrapper--promo {
    padding-left: 91px;
  }

  .page-main__benefits {
    padding: 55px 25px;
  }

  .page-main__about-company {
    padding: 0 25px 80px 210px;
  }
}

@media (max-width: $mobile-width) {
  .page-main__wrapper--promo {
    flex-direction: column-reverse;
    align-items: center;
    padding-left: 0;
  }

  .page-main__benefits {
    padding: 40px 15px 0;
  }

  .page-main__about-company {
    padding: 35px 15px 65px;
  }
}
