.promo {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-left: 78px;
  max-width: $max-width;
}

.promo__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 50%;
  min-height: 545px;
}

.promo__title {
  margin: 53px 0 30px;
  font-family: $extra-font;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $bright-color;
}

.promo__content {
  position: relative;
  padding-left: 94px;

  &::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 0;
    height: 2px;
    width: 66px;
    background-color: $bright-color;
  }
}

.promo__lead {
  margin: 0 0 45px;
  font-size: 22px;
  line-height: 34px;
  color: $bright-color;
}

.promo__consultation-link {
  padding: 15px 46px;
  font-size: 16px;
  line-height: 19px;
}

.promo__consultation-link-text {
  white-space: nowrap;

  &--shot {
    display: none;
  }
}

.promo__skip-to-content {
  @include no-indents();
  margin-top: auto;
  font-size: 14px;
  line-height: 16px;
  color: $bright-color;
  opacity: 0.5;
  transform-origin: 0 0;
  transform: rotate(-90deg);

  &:active {
    color: $bright-color-70;
  }
}

.promo__img {
  flex-basis: 50%;
  margin-left: auto;
}

@media (max-width: $tablet-width) {
  .promo {
    padding-left: 90px;
  }

  .promo__title {
    margin: 75px 0 35px;
    font-size: 60px;
    line-height: 70px;
  }

  .promo__content {
    margin: 0;
    padding-left: 50px;

    &::before {
      top: 12px;
      left: 0;
      width: 33px;
    }
  }

  .promo__lead {
    margin-bottom: 52px;
    font-size: 18px;
    line-height: 157%;
  }

  .promo__consultation-link {
    padding: 17px 30px;
  }

  .promo__skip-to-content {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .promo {
    flex-direction: column-reverse;
    align-items: flex-end;
    padding-left: 0;
  }

  .promo__inner {
    padding: 0 15px;
    align-items: center;
    min-height: 0;
    z-index: 1;
  }

  .promo__title {
    margin: -30px 0 25px;
    font-size: 40px;
    line-height: 47px;
  }

  .promo__content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-left: 0;

    &::before {
      top: 17px;
      left: 5px;
      width: 33px;
    }
  }

  .promo__lead {
    margin-bottom: 45px;
    padding-left: 50px;
    font-size: 16px;
  }

  .promo__consultation-link {
    padding: 15px 34px;
  }

  .promo__consultation-link-text {
    &--long {
      display: none;
    }

    &--shot {
      display: inline;
    }
  }
}
