.questions {
  min-height: 500px;
}

.questions__title {
  margin: 0 0 10px;
  font-family: $extra-font;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $bright-color;
}

.questions__description {
  margin: 0 0 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $bright-color;
}

.questions__items {
  @include no-indents();
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.questions__item {
  margin-bottom: 40px;
  flex-basis: 47.5%;

  &--textarea {
    flex-basis: 100%;
  }

  &--gdpr {
    order: 1;
  }
}

.questions__input,
.questions__text {
  padding: 13px 16px;
  width: 100%;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $bright-color;
  border: 1px solid transparent;
  background-color: $bright-color-10;

  &::placeholder {
    color: $bright-color;
  }

  &:hover,
  &:focus {
    border-color: $bright-color;
    outline: none;
  }

  &:active {
    border-color: $bright-color;
    outline: none;
  }
}

.questions__text {
  resize: none;
}

.questions__button {
  margin-top: -7px;
  width: 100%;
}

.questions__label {
  position: relative;
  display: block;
  padding-left: 42px;
  font-size: 14px;
  line-height: 16px;
  color: $bright-color-80;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 10px;
    width: 16px;
    height: 16px;
    border: 1px solid $bright-color;
  }
}

.questions__item--gdpr input:checked + .questions__label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 15px;
  width: 7px;
  height: 5px;
  border-left: 1px solid $bright-color;
  border-bottom: 1px solid $bright-color;
  transform: rotate(-45deg);
}

.questions__item--gdpr input:focus + .questions__label {
  text-decoration: underline;
}

.questions__item--gdpr input + .questions__label {
  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: $bright-color-70;
  }
}

@media (max-width: $tablet-width) {
  .questions__title {
    margin-bottom: 15px;
    font-size: 32px;
    line-height: 140.62%;
  }

  .questions__description {
    margin-bottom: 55px;
  }

  .questions__item {
    margin-bottom: 45px;
  }
}

@media (max-width: $mobile-width) {
  .questions__title {
    font-size: 28px;
  }

  .questions__description {
    margin-bottom: 27px;
  }

  .questions__item {
    margin: 0;
    padding-bottom: 33px;
    flex-basis: 100%;

    &--gdpr {
      order: 1;
      padding-bottom: 0;
    }
  }

  .questions__text {
    height: 100px;
  }

  .questions__button {
    padding: 14px 0;
  }

  .questions__label {
    padding-left: 32px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
      border: 1px solid $bright-color;
    }
  }

  .questions__item--gdpr input:checked + .questions__label::after {
    top: 4px;
    left: 5px;
  }
}
