html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include no-indents();
  min-width: $min-width;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: $main-font;
  color: $text-color;
  background-color: $bright-color;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
