$main-font: "PT Mono", "Courier New", monospace;
$extra-font: "Roboto Condensed", "Arial", sans-serif;

$max-width: 1570px;
$min-width: 320px;
$tablet-width: 1023px;
$mobile-width: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$text-color: rgb(102, 102, 102);
$bright-color: rgb(255, 255, 255);
$dark-color: rgb(27, 45, 55);
$accent-color: rgb(0, 178, 255);
